 <!-- intro-->

<audio src="./img/gotaudio.mp3" autoplay="autoplay" ></audio>


    <section id="intro" style="background-image: url('img/intro.jpg');" class="intro">      
      <div class="overlay"></div>
      <div class="content">
        <div class="container clearfix">
          <div class="row">
          </div>
        </div>
      </div>
    </section>
    <!-- intro end-->    


<!--News Feed-->    
    <section id="about" class="text">     <div class="container marketing">
    <h2 class="heading">Related Things</h2>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-responsive" src="./img/books.jpg" alt="">
            <a ng-href="#/allbooks"><button type="button" class="btn btn-primary">Books Info</button></a>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-responsive" src="./img/characters.jpg" alt="" >
            <a ng-href="#/allcharacter"><button type="button" class="btn btn-primary">Character Info</button></a>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-responsive" src="./img/houses.jpg" alt="" >
            <a ng-href="#/allhouse"><button type="button" class="btn btn-primary">Houses Info</button></a>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
    </section>

<!-- News Feed-->  
        
